<%- include('Head') %>
<%- include('Navigation') %>
<%- include('Header') %>
        <!-- Section 1-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="card-img-top" src="/assets/img/Sam_Chelsey.jpg" alt="..." /></div>
                    </div>
                    <!--About Chelsey-->
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5-custom">
                            <h2 class="display-4" style="font-family: 'Berkshire Swash';">About Chelsey</h2>
                            <p style="font-family: 'Times New Roman', serif;">You know those people with so many hobbies they don't know what to do with them all? That is me. I love learning and have found crafting makes me happy. During the years of quarantine, I finally decided it was ok to learn new skills and share them. I didn't have to take an art class to make art. That thought process has expended my previous crafting skills to new levels. From digital products for teaching to memory quilts to zipper scrunchies, there's so much to make and experience. I hope you enjoy them too! </p>
                        </div>
                        <div style="padding-left: 45px;">
                        <a href="https://instagram.com/alittlebitofgrandma?igshid=NzZlODBkYWE4Ng==" style="display: inline-block;">
                                <button class="button">Chelsey's Instagram</button>
                        </a>
                        <a href="https://www.teacherspayteachers.com/Store/Chickenloopers-Coop" style="display: inline-block;">
                                <button class="button">Chickenlooper's Coop</button>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="card-img-top" src="/assets/img/Siblings_Quilts.jpg" alt="..." /></div>
                    </div>
                    <!--About Name-->
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4" style="font-family: 'Berkshire Swash';">About the Name</h2>
                            <p style="font-family: 'Times New Roman', serif;">Both of my grandmas loved to sew and do other crafts. They both made many different things that they would share with friends and family. They both taught me different skills that I applied to my own creative skills. When one of them passed, I decided to make memory baby quilts for myself and my siblings to honor her. As I made them, I reflected on the things I had learned from both her and my other grandma. Hence the name- A Little Bit of Grandma.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%- include('Footer') %>
