<%- include('Head') %> <%- include('Navigation') %> <%- include('Header') %>

    <h1 class="error-title">
      Woops! <br>Something went wrong :(
    </h1>
    <h2 class="error-subtitle">
     Have you tried turning it off and on again?
    </h2>

<%- include('Footer') %>