<%- include('Head') %> <%- include('Header') %>
    <br><br>
    <h1 style="justify-content: center;">
      Woops! <br>Something went wrong :(
    </h1>
    <h2 style="justify-content: center;">
     Have you tried turning it off and on again?
    </h2>

    <script>
        // Wait for a 2 milliseconds (2 seconds) before redirecting
        setTimeout(function() {
          location.href = "https://craftwebsite.is404.net";
    }, 2000);
    </script>