<%- include('Head') %> <%- include('Navigation') %> <%- include('Header') %>

    <h1>
      Woops! <br>Something went wrong :(
    </h1>
    <h2>
     Have you tried turning it off and on again?
    </h2>

<%- include('Footer') %>