</html>
<div class="container">
    <footer onload="getDate();">
        <!-- Common footer content goes here -->
        <p id="Copyright">&copy; 2023 A little bit of grandma</p>
    </footer>
</div>