        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white" id="copyright">
                </p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- function that gets the current date for the copyright in the footer -->
        <!-- this function also shows the All Reviews Tab and a Logout button when you are logged in -->
        <script>
            function pageSetup()
            {
                //Get the year
                let sYear = new Date().getFullYear();
                document.getElementById("copyright").innerHTML = "Copyright &copy; A Little Bit of Grandma " + sYear + "."

                if (localStorage.getItem('loggedIn').includes("true")) {
                    document.getElementById("allReviewNavItems").style.display = "block";
                    document.getElementById("logout").style.display = "block";
                }
                else {
                    document.getElementById("allReviewNavItems").style.display = "block";
                    document.getElementById("logout").style.display = "block";
                }
            }
        </script>
    </body>
</html>