<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4" style="font-family: 'Berkshire Swash'; font-size: 80px", cursive;>A Little Bit of Grandma</h1>
            <p class="lead fw-normal mb-0" style="font-family: 'Times New Roman', serif; font-size: 30px">Homemade crafts made with love</p>
        </div>
    </div>
</header>