<%- include('Head') %>
<%- include('Navigation') %>
<%- include('Header') %>
        <!-- Section 1 (how do i center this??)-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <h2 class="display-4" style="font-family: 'Berkshire Swash';">Leave a Review</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section 2-->
        <section>
            
        </section>
<%- include('Footer') %>