<%- include('Head') %>
<%- include('Navigation') %>
<%- include('Header') %>
        <!-- Section 1 (how do i center this??)-->
        <section>
            <div>
                        <h2 class="display-4" style="font-family: 'Berkshire Swash';">Leave a Review</h2>
            </div>
        </section>
        <!-- Section 2-->
        <section>
            
        </section>
<%- include('Footer') %>