<%- include('Head') %>
<%- include('Navigation') %>
<%- include('Header') %>
        <!-- Section-->
        <body class="bg-gradient-primary">
            <div class="container-custom">
                <div class="left-column-custom">
                    <img src="/assets/img/babyboots.jpg" style="padding-right: 1rem" class="active" alt="product"/>
                </div>
                <div class="right-column-custom">
                    <div class="product-description">
                        <span>Hand-made</span>
                        <h1>Product Name</h1>
                        <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
                    </div>
                    <div class="product-price">
                        <span>$Insert Price</span>
                        <br><br>
                        <a href="leaveReview">
                            <button class="button" type="button">Leave a Review</button>
                        </a>
                    </div>
                </div>
            </div>
        </body>
        
        </table>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; A Little Bit of Grandma 2023
                </p>
            </div>
<%- include('Footer') %>
