<%- include('Head') %> <%- include('Header') %>

<body>
    <br><br>
    <h1 style="text-align: center;">
        Success
    </h1>
    <p id="logged_in" style="display: none;"><%= reviewData[0].logged_in %></p>
<script>
    // Wait for 1000 milliseconds (1 second) before redirecting
    setTimeout(function() {
      localStorage.setItem(loggedIn, document.getElementById("logged_in").innerHTML);
      location.href = "https://craftwebsite.is404.net";
    }, 1000);

</script>
</body>
</html>